{%- comment -%} Email product availability info notice used in email notifications: Order confirmation, Order edited, Order edited invoice, Draft order invoice, Email cart from POS, Abandoned checkout {%- endcomment -%}
<p style="color: red; font-size: small">&dagger; Product shipping information may differ from information on original receipt if you requested a new copy, made a payment, modified order, etc. Refer to original receipt for most accurate shipping information.</p>
