{%- comment -%}
	Email product availability info used in email notifications: Order confirmation, Order edited, Order invoice, Draft order invoice, Email cart from POS, Abandoned checkout
{%- endcomment -%}

{% comment %} Product availability info {% endcomment %}

{% assign product_tags = line.product.tags | downcase %}

{%- comment -%} In Stock {%- endcomment -%}
{%- if line.product.selected_or_first_available_variant.inventory_quantity >= 1 -%}
	<p style="font-size: small">Handling time: 1-2 business days. <span style="color: red; font-size: x-small">&dagger;</span></p>
	{%- comment -%} Out of Stock but still Available {%- endcomment -%}
{%- elsif line.product.selected_or_first_available_variant.inventory_policy == 'continue' -%}
	{%- comment -%} Pre-Order {%- endcomment -%}
	{%- if product_tags contains 'pre-order' -%}
	<p style="font-size: small">
		<strong>Pre-Order</strong><br />
		See description for release date.<br />
		By ordering you agree to the <a href="/pages/custom-pre-orders-terms" title="Pre-Order Terms">terms</a>.
	</p>
	{%- comment -%} Back Order {%- endcomment -%}
	{%- elsif product_tags contains 'back order' -%}
		<p style="font-size: small">
			<strong>Back Order</strong><br />
			Call for more info.
		</p>
	{%- comment -%} Custom Order {%- endcomment -%}
	{%- elsif product_tags contains 'custom order' -%}
		<p style="font-size: small">
			<strong>Custom Order</strong><br />
			See description for fulfillment time.<br />
			By ordering you agree to the <a href="/pages/custom-pre-orders-terms" title="Customer Order Terms">terms</a>.
		</p>
	{%- comment -%} Drop Shipping / No Inventory Tracking / Digital Product {%- endcomment -%}
	{%- else -%}
		{%- comment -%} Digital Product {%- endcomment -%}
		{%- if line.product.type == "Digital" -%}
			<p style="font-size: small">Fulfilled digitally. Check for a follow-up email.</p>
		{%- comment -%} Dropshipping / No Inventory Tracking {%- endcomment -%} {%- else -%}
			{%- comment -%} Search for handling time tag {%- endcomment -%}
			{%- assign found = false -%}
			{%- for tag in product_tags -%}
				{%- if tag contains 'ht ' -%}
					{%- if tag contains 'minutes' or tag contains 'hours' or tag contains 'days' or tag contains 'weeks' or tag contains 'months' -%}
						<p style="font-size: small">Handling time: {{ tag | remove_first: "ht " | downcase }}. <span style="color: red; font-size: x-small">&dagger;</span></p>
						{%- assign found = true -%}
						{%- break -%}
					{%- endif -%}
				{%- endif -%}
			{%- endfor -%}
			{%- comment -%} No handling time tag found so resort to default {%- endcomment -%}
			{%- if found == false -%}
				<p style="font-size: small">Handling time: 3-4 business days. <span style="color: red; font-size: x-small">&dagger;</span></p>
			{%- endif -%}
		{%- endif -%}
	{%- endif -%}
{%- endif -%}