<p class="product-single__sku">
    <span class="disable-select">SKU: </span>{{ current_variant.sku }}
</p>

{% unless product.metafields.newbreed.mfg-sku.value == '' %}
<p class="product-single__sku">
    <span class="disable-select">Manufacturer SKU: </span>{{ product.metafields.newbreed.mfg-sku.value }}
</p>
{% endunless %}