<p class="product-single__sku">
    <span class="disable-select">SKU: </span>{{ current_variant.sku }}
</p>

{% capture mfg-sku-val %}{{ product.metafields.newbreed.mfg-sku.value }}{% endcapture %}
{% unless mfg-sku-val == '' %}
<p class="product-single__sku">
    <span class="disable-select">Manufacturer SKU: </span>{{ product.metafields.newbreed.mfg-sku.value }}
</p>
{% endunless %}