{%- comment -%} Product Availability Information {%- endcomment -%}
{%- comment -%} This snippet appears on product pages and cart line items. {%- endcomment -%}

{%- comment -%} Assign the product object variable based on current page template. {%- endcomment -%}
{%- if template == 'cart' -%}
    {%- assign prod = item.product -%}
{%- else -%}
    {%- assign prod = product -%}
{%- endif -%}

{%- comment -%} Archived/Discontinued {%- endcomment -%}
{%- if prod.tags contains 'Archive' or prod.tags contains 'Archived' or prod.tags contains 'Discontinued' -%}
    <p class="product-single__discontinued prod-status">
        Discontinued
    </p>
{%- comment -%} In Stock {%- endcomment -%}
{%- elsif prod.selected_or_first_available_variant.inventory_quantity >= 1 -%}
    <p class="product-single__available prod-status">
        Available
    </p>
    <p class="product-single__handling">
        Handling time: 1-2 business days.
    </p>
{%- comment -%} Out of Stock but still Available {%- endcomment -%}
{%- elsif prod.selected_or_first_available_variant.inventory_policy == 'continue' -%}
    {%- comment -%} Pre-Order {%- endcomment -%}
    {%- if prod.tags contains 'Pre-Order' -%}
        <p class="product-single__order prod-status">
            Pre-Order
        </p>
        {%- comment -%} Search for release tag {%- endcomment -%}
        {%- assign found = false -%}
        {%- for tag in prod.tags -%}
            {%- if tag contains 'Releases ' -%}
                <p class="product-single__handling">
                    <strong>Releases:</strong> <u>{{ tag | remove_first: "Releases " }}</u>
                </p>
                {%- assign found = true -%}
                {%- break -%}
            {%- endif -%}
        {%- endfor -%}
        {%- comment -%} No release tag found so resort to default {%- endcomment -%}
        {%- if found == false -%}
        <p class="product-single__handling">
            <strong>Releases:</strong> <u>See description</u>
        </p>
        {%- endif -%}
        <p class="product-single__terms text-center">
            By ordering you agree to the <a href="/pages/custom-pre-orders-terms" title="Pre-Order Terms">terms</a>.
        </p>
    {%- comment -%} Back Order {%- endcomment -%}
    {%- elsif prod.tags contains 'Back Order' -%}
        <p class="product-single__back-order prod-status">
            Back Order
        </p>
        {%- comment -%} Search for release tag {%- endcomment -%}
        {%- assign found = false -%}
        {%- for tag in prod.tags -%}
            {%- if tag contains 'In Stock ' -%}
                <p class="product-single__handling">
                    <strong>In Stock:</strong> <u>{{ tag | remove_first: "In Stock " }}</u>
                </p>
                {%- assign found = true -%}
                {%- break -%}
            {%- endif -%}
        {%- endfor -%}
        {%- comment -%} No back tag found so resort to default {%- endcomment -%}
        {%- if found == false -%}
        <p class="product-single__handling">
            <strong>In Stock:</strong> <u>See description</u>
        </p>
        {%- endif -%}
    {%- comment -%} Custom Order {%- endcomment -%}
    {%- elsif prod.tags contains 'Custom Order' -%}
        <p class="product-single__order prod-status">
            Custom Order
        </p>
        <p class="product-single__handling">
            <strong>See description for fulfillment time.</strong>
        </p>
        <p class="product-single__terms text-center">
            By ordering you agree to the <a href="/pages/custom-pre-orders-terms" title="Customer Order Terms">terms</a>.
        </p>
    {%- comment -%} Drop Shipping / No Inventory Tracking / Digital Product {%- endcomment -%}
    {%- else -%}
        <p class="product-single__available prod-status">
            Available
        </p>
        {%- comment -%} Digital Product {%- endcomment -%}
        {%- if prod.type == "Digital" -%}
            <p class="product-single__handling">
                Fulfilled digitally.
            </p>
        {%- comment -%} Dropshipping / No Inventory Tracking {%- endcomment -%}
        {%- else -%}
            {%- comment -%} Search for handling time tag {%- endcomment -%}
            {%- assign found = false -%}
            {%- for tag in prod.tags -%}
                {%- if tag contains 'HT ' -%}
                    {%- if tag contains 'Minutes' or tag contains 'Hours' or tag contains 'Days' or tag contains 'Weeks' or tag contains 'Months' -%}
                        <p class="product-single__handling">
                            Handling time: {{ tag | remove_first: "HT " | downcase }}.
                        </p>
                        {%- assign found = true -%}
                        {%- break -%}
                    {%- endif -%}
                {%- endif -%}
            {%- endfor -%}
            {%- comment -%} No handling time tag found so resort to default {%- endcomment -%}
            {%- if found == false -%}
                <p class="product-single__handling">
                    Handling time: 3-4 business days.
                </p>
            {%- endif -%}
        {%- endif -%}
    {%- endif -%}
{%- endif -%}