<p class="product-single__sku">
    <span class="disable-select">SKU: </span>{{ product.selected_or_first_available_variant.sku }}
</p>

<p class="product-single__sku">
    <span class="disable-select">Manufacturer SKU: </span>{{ product.metafields.newbreed.mfg-sku.value }}
</p>