<div id="InfoBar" class="notification notification--active notification--promo" aria-hidden="false">
    <div class="page-width">
        <div class="flex flex--grid flex--center-vertical">
            <div class="flex__item flex__item--fixed small--one-whole small--text-center overflow-wrap-break">
                    <a href="tel:2017910377">
                        📞 (201)791-0377
                    </a>
            </div>
            <div class="flex__item flex__item--fixed small--one-whole small--text-center overflow-wrap-break">
                    <a href="mailto:info@newbreedpb.com">
                        📧 info@newbreedpb.com
                    </a>
            </div>
            <div class="flex__item small--one-whole small--text-center medium-up--text-right medium-up--one-sixth overflow-wrap-break">
                🚚 $149+ orders ship free!
            </div>
        </div>
    </div>
</div>