<div class="page-width">
  <article class="grid">

    <div class="grid__item">
      {% comment %}
        The article contents can be found in /sections/article-content.liquid
      {% endcomment %}

      {% section 'article-content' %}

      <div class="full-width full-width--return-link">
        <a href="{{ blog.url }}" class="h1 return-link">
          {% include 'icon-arrow-thin-left' %}
          {{ 'blogs.article.back_to_blog' | t: title: blog.title }}
        </a>
      </div>
    </div>

    <div class="grid__item">
      {% section 'featured-products-subsection' %}
    </div>

  </article>
</div>
